{% extends 'base.html.twig' %}

{% block title %}Gifs Manager{% endblock %}

{% block body %}
    <div class="container">
{#        {{ dump(app.request.get('search')) }}#}
        {% if app.request.get('search') is null %}
            <h1 class="m-3">Tous les gifs</h1>
            <div class="row">
                {# boucle sur tous les gifs #}
                {% for gif in gifs %}
                    <div class="col-4">
                        <div class="card border-info mb-3">
                            <img class="card-img-top" src="{{ gif }}" alt="Card image cap">
                            <div class="card-body">
                                <div>ID : {{ gif.id }}</div>
                                <div class="gif-name"><a href="{{ gif.name }}" target="_blank">{{ gif.name }}</a></div>
                                {# on fait apparaitre les tags liés aux gifs #}
                                {% for tags in gif.tagId %}
                                    <span class="badge badge-pill badge-secondary">{{ tags }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.request.get('search') is not null %}
            <h1 class="m-3">Tous les gifs</h1>
            <div class="row">
                {# boucle sur tous les gifs #}
                {% for gif in filteredGifs %}
                    <div class="col-4">
                        <div class="card border-info mb-3">
                            <img class="card-img-top" src="{{ gif }}" alt="Card image cap">
                            <div class="card-body">
                                <div>ID : {{ gif.id }}</div>
                                <div class="gif-name"><a href="{{ gif.name }}" target="_blank">{{ gif.name }}</a></div>
                                {# on fait apparaitre les tags liés aux gifs #}
                                {% for tags in gif.tagId %}
                                    <span class="badge badge-pill badge-secondary">{{ tags }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}
