{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-3">Les gifs qui ont le tag "{{ tag.name }}"</h1>
        <div class="row">
            {% for gif in tag.gifs|sort((a,b) => b.id <=> a.id) %}
                <div class="col-4">
                    <div class="card border-info mb-3">
                        <img class="card-img-top" src="{{ gif.name }}" alt="Card image cap">
                        <div class="card-body">
                            <div>ID : {{ gif.id }}</div>
                            <div class="gif-name"><a href="{{ gif.name }}" target="_blank">{{ gif.name }}</a></div>
                            {# on fait apparaitre les tags liés aux gifs #}
                            {% for tags in gif.tagId %}
                                <span class="badge badge-pill badge-secondary">{{ tags }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
